@import "../../styles/variables.scss";

.wrapper {
  padding: 4.5rem 1rem;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
}

.main {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.header {
  font-size: 2.5rem;
  display: block;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.header p {
  font-size: 2rem;
  margin: 0.5rem;
}
